img{
    height: 1.5rem;
    width: 1.5rem;
}
.profile img{
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 50%;
}
p img{
    margin-right: 0.8rem;
}
.right button{
    margin-left: 2rem;
}
.fav {
   height: 2rem;
   width: 2rem;
}
@media only screen and (max-width: 600px){
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30%;
        margin: 1.5rem 0 1rem 0;
    }
}