<div class="my-details">
  <div class="d-flex justify-content-between">
    <div class="left">
      <img src="../../assets/images/back.png" alt="back" routerLink = "/" />
    </div>
    <div class="right">
        <img src="../../assets/images/fav.png" alt="favourite" (click)="markFav()"/>
      <button class="btn btn-success" (click)="gotoEdit()">Edit</button>
    </div>
</div>
<hr>
  <div class="text-center profile">
    <img src="../../assets/images/profile-icon.png" alt="profile-pic" />
    <h4>{{contact.firstName + ' ' + contact.lastName}}</h4>
  </div>
  <div class="card details p-3">
    <div>
        <h6>Contact Info</h6>
    </div>
    <p><img src="../../assets/images/call-icon.png" alt="phone"><span>Mobile</span>  {{' +' + contact.phone}}</p>
    <p><img src="../../assets/images/whatsapp.png" alt="whatsapp"><span>Message </span>  {{' +' + contact.phone}}</p>
    <p><img src="../../assets/images/whatsapp.png" alt="whatsapp"><span>Voice Call</span>  {{' +' + contact.phone}}</p>
    <p><img src="../../assets/images/whatsapp.png" alt="whatsapp"><span>Video Call</span>  {{' +' + contact.phone}}</p>
  </div>
  <div class="text-center">
    <p>Created on:{{' ' + createdDate}}</p>
  </div>
</div>
