<div class="">
  <h5>{{contacts.length + ' '}} Contacts</h5>
  <div>
    <input class="form-control border-success-subtle" type="search" placeholder="Search Contacts" [(ngModel)]="searchText"/>
  </div>
  <hr />
  
  <div class="accordion" >
    <div class="accordion-item my-2" *ngFor="let contact of contacts | search: searchText">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          attr.data-bs-target="{{'#'+contact.id}}"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          <img
            src="../../assets/images/profile-icon.png"
            alt="profile"
          /><span class="mx-2">{{ contact.firstName + ' ' + contact.lastName }}</span>
        </button>
      </h2>
      <div id="{{contact.id}}" class="accordion-collapse collapse">
        <div class="accordion-body" (click)="seemoreDetails(contact.id)">
          <p><img src="../../assets/images/call-icon.png" alt="">{{'+' + contact.phone}}</p>
          <p><img src="../../assets/images/gmail-icon.png" alt="">{{contact.email}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bottom mb-5">
    <div class="container col-12 col-lg-6">
      <button routerLink="/add/new"  class="btn btn-primary float-end mb-4" style="width: 2.5rem; height: 2.5rem;">+</button>
    </div>
  </div>
</div>
