<div class="">
  <div>
    <input class="form-control border-success-subtle" type="search" placeholder="Search Contacts" />
  </div>
  <hr />
  <div class="accordion" *ngFor="let contact of contacts">
    <div class="accordion-item my-2">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          <img
            src="../../assets/images/profile-icon.png"
            alt="profile"
          /><span class="mx-2">{{ contact.name }}</span>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          <p><img src="../../assets/images/call-icon.png" alt="">{{'+' + contact.phone}}</p>
          <p><img src="../../assets/images/download-removebg-preview.png" alt="">{{contact.email}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bottom mb-5">
    <div class="container col-12 col-lg-6">
      <button class="btn btn-primary float-end mb-4" style="width: 2.5rem; height: 2.5rem;">+</button>
    </div>
  </div>
</div>
